# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/*

# Files from Forge MDK
forge*changelog.txt

# Except for epic siege config
!run/config/esm/entity_ai.json
!run/config/esm/epicsiegemod.cfg